.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/bg/main_bg.jpg') no-repeat 70%/cover;
    padding-top: 205px;

    &__title {
        width: 535px;
        margin-top: 10px;
    }

    &__subtitle {
        position: relative;
        padding-left: 10px;
        @include before_circle;
        z-index: 2;
    }

    &__btns {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 264px;
    }

    &__link {
        font-weight: 700;
        color: #000000;
        text-decoration: none;

        &:hover {
            color: #000000;
            text-decoration: none;
        }
    }
}